.containerhomepage {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  margin: auto;
  background-image: url("../../assets/images/access.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  position: relative;
  max-width: 100vw;
  height: 92.2vh;
}

.image {
  height: 20rem;
  width: 20rem;
}

.button {
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  border-style: none;
  color: #f8f7ff;
  font-size: 1.5rem;
  background-color: var(--main-color);
  box-shadow:
    0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 16px #a882dd,
    inset 0 0 16px #a882dd,
    0 0 32px #a882dd,
    inset 0 0 32px #a882dd;
}

.connect {
  color: #f8f7ff;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .containerhomepage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    gap: 5rem;
    height: 86vh;
  }

  .image {
    height: 10rem;
    width: 10rem;
  }

  .button {
    padding: 1rem 4rem;
    font-size: 1.5rem;
  }

  .connect {
    background-color: var(--main-color);
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    box-shadow:
      0 0 8px #fff,
      inset 0 0 8px #fff,
      0 0 16px #a882dd,
      inset 0 0 16px #a882dd,
      0 0 32px #a882dd,
      inset 0 0 32px #a882dd;
    font-size: 1.5rem;
  }
}
