.buttonGames {
  background-color: var(--third-color);
  color: black;
  width: 80vw;
  height: 5vh;
  border-radius: 23px;
  border: none;
  z-index: 1;
  font-size: 0.85rem;

  box-shadow:
    0 2px 2px var(--third-color),
    inset 0 0 1px var(--third-color),
    0 0 5px yellow,
    inset 0 0 5px var(--third-color),
    0 0 4px var(--third-color),
    inset 0 0 3px yellow;
}

.carroussel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}

.gameItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
}

.imageGames {
  width: 70vw;
  height: 25vh;
  border: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}

@media (min-width: 768px) {
  .imageGames {
    width: 30vw;
    height: 40vh;
    margin-bottom: 2rem;
  }

  .buttonGames {
    font-size: 0.8rem;
  }

  .carroussel {
    flex-direction: row;
    gap: 0rem;
  }

  .buttonGames {
    width: 30vw;
  }
}
