main {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containergamepage {
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gameItem {
  height: auto;
  width: 32vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.gameItem img {
  height: 18vh;
  width: auto;
}

.gameItem p {
  color: var(--light-color);
  font-size: 1rem;
  margin: 0.1rem;
}

.buttonAdd {
  background-color: green;
  color: white;
  min-width: 10vw;
  height: 3vh;
  border-radius: 23px;
  border: none;
  font-size: 0.6rem;

  box-shadow:
    0 2px 2px greenyellow,
    inset 0 0 1px greenyellow,
    0 0 5px greenyellow,
    inset 0 0 5px greenyellow,
    0 0 4px greenyellow,
    inset 0 0 3px greenyellow;
}

.buttonEdit {
  background-color: var(--third-color);
  margin-top: 1rem;
  color: black;
  min-width: 10vw;
  height: 3vh;
  border-radius: 23px;
  border: none;
  font-size: 0.6rem;

  box-shadow:
    0 2px 2px var(--third-color),
    inset 0 0 1px var(--third-color),
    0 0 5px yellow,
    inset 0 0 5px var(--third-color),
    0 0 4px var(--third-color),
    inset 0 0 3px yellow;
}

.buttonDelete {
  background-color: red;
  margin-top: 1rem;
  color: black;
  min-width: 10vw;
  height: 3vh;
  border-radius: 23px;
  border: none;
  font-size: 0.6rem;

  box-shadow:
    0 2px 2px red,
    inset 0 0 1px red,
    0 0 5px red,
    inset 0 0 5px red,
    0 0 4px red,
    inset 0 0 3px red;
}

@media (min-width: 768px) {
  main {
    margin-top: 2rem;
  }

  .containergamepage {
    margin: 1rem;
    justify-content: space-between;
  }

  .gameItem {
    width: 22vw;
    margin-bottom: 2rem;
  }

  .gameItem img {
    height: 24vh;
  }

  .gameItem p {
    font-size: 1.2rem;
    margin: 0.2rem;
  }

  .buttonAdd,
  .buttonEdit,
  .buttonDelete {
    min-width: 8vw;
    height: 4vh;
    font-size: 0.8rem;
  }
}
