.containerFooter {
  background-color: #a882dd;
  padding: 1rem;
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.6rem;
}

.footerText {
  display: flex;
  justify-content: center;
  color: #f7fff7;
  padding-top: 0.5rem;
  font-weight: normal;
}
