.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #02020a;
  position: relative;
}

.formAdmin {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background: #a882dd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formAdmin label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #02020a;
}

.formAdmin input[type="text"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #f8f7ff;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f8f7ff;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox-container label {
  margin-right: 10px;
  width: 100px;
}

.checkbox-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.formAdmin button {
  padding: 10px;
  background-color: #02020a;
  border: none;
  border-radius: 4px;
  color: #f8f7ff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.logoutButton:hover {
  background-color: white;
  color: black;
}
