.challenge {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.challenge h2 {
  font-size: 0.9rem;
}

.challengeImg {
  height: auto;
  width: 60vw;
  border-radius: 4vh;
  box-shadow:
    0 0 15px var(--third-color),
    inset 0 0 10px var(--third-color),
    0 0 16px yellow,
    inset 0 0 20px var(--third-color),
    0 0 32px var(--third-color),
    inset 0 0 45px yellow;
}

.challenge p {
  font-family: var(--main-font-family);
  color: var(--light-color);
  font-size: 0.9rem;
  padding-top: 2rem;
}

.playIcon {
  height: 10vh;
  width: auto;
  z-index: 2;
  top: 58vh;
}

@media (min-width: 768px) {
  .challenge {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .challenge h2 {
    font-size: 1.2rem;
  }

  .challengeImg {
    width: 30vw;
  }

  .challenge p {
    font-size: 1rem;
    max-width: 30vw;
  }
}
