.backgroundconnectionPage {
  background-image: url("../../assets/images/background_purple.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connectionCard {
  background-color: var(--dark-color);
  opacity: 0.95;
  width: 67vw;
  height: 92vh;
  border: var(--light-color) solid 2px;
  border-radius: 2.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.1rem 3rem 0 3rem;
}

.logoconnection {
  width: 20vw;
  height: auto;
}

.connectionCard > h3 {
  color: var(--third-color);
  font-size: 1em;
  padding: 0.8rem 0 2rem 0;
  margin: 0;
}

.formconnection ::placeholder {
  font-style: italic;
}

.connectionCard h4 {
  color: var(--light-color);
  font-size: 0.9rem;
  text-decoration: underline;
  font-weight: 30;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formconnection {
  display: flex;
  flex-direction: column;
  background: none;
  align-content: center;
  padding: 0;
  width: 28vh;
  gap: 1.2rem;
}

.formconnection label {
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: 0.9rem;
  padding-top: 1rem;
}

.formconnection input {
  background-color: transparent;
  color: var(--light-color);
  width: 59vw;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 0.5rem;
  border-bottom: solid var(--light-color) 0.08rem;
}

.buttonconnection {
  width: 60vw;
  height: 5.7vh;
  border: none;
  border-radius: 1.1rem;
  color: var(--light-color);
  background-color: var(--main-color);
  box-shadow:
    0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 16px var(--main-color),
    inset 0 0 16px var(--main-color),
    0 0 32px var(--main-color),
    inset 0 0 32px var(--main-color);
  margin-top: 3rem;
}

.buttonCreateProfil {
  width: 60vw;
  height: 5.7vh;
  background-color: var(--light-color);
  border: none;
  border-radius: 1.1rem;
  color: var(--dark-color);
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.buttonCreateProfil:hover,
.buttonconnection:hover {
  background-color: lightslategrey;
  color: var(--light-color);
  cursor: pointer;
}

.error {
  color: var(--light-color);
}

@media (min-width: 768px) {
  .connectionCard {
    width: 40vw;
    height: 98vh;
  }

  .logoconnection {
    width: 10vw;
  }

  .formconnection {
    width: 30vw;
    gap: 1.5rem;
  }

  .formconnection input {
    width: 28vw;
  }

  .buttonconnection,
  .buttonCreateProfil {
    width: 30vw;
    height: 6vh;
    font-size: 1rem;
  }
}
