.containerDetail {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgDetail {
  width: 80vw;
}

.containerDetail p {
  font-family: var(--main-font-family);
  color: var(--light-color);
  font-size: 0.9rem;
}

.containerDetail h2 {
  font-size: 1.5rem;
}
