.containerheader {
  background-color: var(--main-color);
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 6rem;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.link {
  color: #f7fff7;
  display: flex;
  text-decoration: none;
}

.list_nosjeux {
  padding-left: 1rem;
}

.list_contact {
  margin-left: 1rem;
}

.loginIcon {
  width: 15vw;
}

.cancelIcon {
  width: 15vw;
}

@media (min-width: 768px) {
  .loginIcon {
    width: 8vw;
  }

  .cancelIcon {
    width: 8vw;
  }

  .containerheader {
    font-size: 1rem;
  }

  .list {
    gap: 8rem;
  }
}
